#dashboardLayoutWrapper {
	height: 100%;
	position: relative;
	padding-top: 2rem;
}

#dashboardNavWrapper {
	width: 100%;
	position: absolute;
	top: 0;
	background-color: var(--backgroundColor);
	border-block: 0.05rem solid var(--midColor);
}
#dashboardNavList {
	list-style: none;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.35s ease-in-out 0.1s;
}
#dashboardNavWrapper.navExpanded #dashboardNavList {
	max-height: 15rem;
	overflow: auto;
}

#dashboardNavWrapper #dashboardNavButton div {
	transition: transform 0.35s ease-in-out;
}
#dashboardNavWrapper:not(.navExpanded) #dashboardNavButton div {
	transform: rotate(180deg);
}

#dashboardNavList li {
	border-bottom: 0.05rem outset var(--midColor);
}

#dashboardNavList a {
	display: block;
	padding: 0.5rem;
	text-decoration: none;
}

#dashboardNavList a.currentRoute {
	border-right: 0.2rem solid var(--midColor);
}

#dashboardNavButton {
	width: 100%;
	text-align: center;
	position: sticky;
}

@media (min-width: 50rem) {
	#dashboardLayoutWrapper {
		padding-top: unset;
		display: flex;
		flex-direction: row;
	}

	#dashboardNavWrapper {
		position: unset;
		margin-top: 0.1rem;
		min-width: 10rem;
		max-width: 10rem;
		width: 10rem;
		border-block: unset;
		border-right: 0.05rem outset var(--midColor);
	}

	#dashboardNavList {
		max-height: unset;
		overflow: auto;
	}

	#dashboardNavButton {
		display: none;
	}

	#dashboardPageSection {
		flex-grow: 1;
		align-items: center;
	}
}
