.dropdownWrapper {
	position: relative;
}

.expanded .dropdown {
	border: 0.1rem solid var(--midColor);
}

.dropdown {
	position: absolute;
	top: -0.1rem;
	left: -0.1rem;
	text-align: center;
	background-color: var(--backgroundColor);
	display: flex;
	overflow: visible;
	width: max-content;
	flex-direction: column;
}
