#header {
	padding: 0.5rem;
	box-shadow: 0 0.01rem 0.25rem 0 color-mix(in srgb, var(--textColor), transparent);
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

#headerTitle > a {
	color: var(--accentColor);
	text-decoration: none;
	text-align: center;
	font-size: 3rem;
}

.nav {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav a {
	color: var(--textColor);
	text-decoration: none;
}
