#header {
	padding: 0.5rem;
	box-shadow: 0 0.01rem 0.25rem 0 color-mix(in srgb, var(--textColor), transparent);
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.headerLink {
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
	background-color: transparent;
	transition: background-color 200ms ease-in-out;
}
.headerLink:hover,
.headerLink:focus {
	background-color: color-mix(in srgb, var(--midColor) 33%, transparent 67%);
}

#headerTitle .headerLink {
	color: var(--accentColor);
	text-decoration: none;
	text-align: center;
	font-size: 3rem;
}

.nav {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav .headerLink {
	color: var(--textColor);
	text-decoration: none;
}
