#inviteCreationWrapper {
	font-size: 1.2rem;
}

#inviteCreationWrapper > * + * {
	margin-top: 0.5em;
}

#inviteCreationWrapper #recipientPhoneWrapper {
	display: flex;
	align-items: center;
}

#inviteCreationWrapper #recipientPhoneWrapper > :first-child {
	flex-basis: 27.5%;
}

#inviteCreationWrapper #recipientPhoneWrapper > :nth-child(2) {
	flex-basis: 72.5%;
}
