.signUpWrapper {
	width: 18rem;
	margin-inline: auto;
	padding: 1rem;
}

.signUpWrapper h2 {
	font-size: 2.25rem;
	text-align: center;
}

.signUpWrapper input {
	font-size: 1.25rem;
	margin-top: 0.5rem;
}

.signUpWrapper button {
	display: block;
	font-size: 1.25em;
	margin: 0.75rem auto 0;
}

.signUpWrapper p {
	margin-top: 1rem;
	text-align: center;
}
