#signUpWrapper {
	display: grid;
	grid-template-areas:
		"title"
		"form";
	max-width: clamp(20rem, 95%, 25rem);
	margin-inline: auto;
	padding: 1rem;
}

#signUpWrapper h2 {
	grid-area: title;
	font-size: 2.75rem;
	text-align: center;
}

.page > h3 {
	margin-bottom: 0.5rem;
}

#invitePreview h3 {
	display: none;
}

#signUpForm {
	grid-area: form;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#invitePreview {
	grid-area: preview;
	position: absolute;
	background-color: var(--backgroundColor);
	bottom: 0;
	left: 0;
	width: 100%;
}

#invitePreview > section {
	overflow: hidden;
	max-height: 0vh;
	padding-bottom: 1rem;
	transition: max-height 350ms ease-in-out;
}
#invitePreview.previewOpen > section {
	overflow-x: unset;
	max-height: 100vh;
}

#invitePreview > button {
	display: block;
	height: 2rem;
	margin: auto;
	width: min(100%, 25rem);
	transition: width 350ms ease-out;
}
#invitePreview.previewOpen > button {
	width: 100%;
}

@media (min-width: 50rem) {
	#signUpWrapper {
		width: unset;
		max-width: 60rem;
		grid-template-areas:
			"title preview"
			"form preview";
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr auto;
		gap: 1rem;
	}

	#invitePreview {
		position: unset;
	}
	#invitePreview > button {
		display: none;
	}
	#invitePreview h3 {
		display: block;
		font-size: 2rem;
		color: color-mix(in srgb, var(--textColor), transparent 35%);
		text-align: center;
	}
	#invitePreview > section {
		max-height: unset;
		padding-bottom: 0;
	}
}

.page {
	margin-top: 1rem;
}

.page h3 {
	font-size: 1.75rem;
}

.page p {
	margin-top: 1rem;
	text-align: center;
}

#buttonsWrapper {
	display: flex;
}

#buttonsWrapper button {
	display: block;
	font-size: 1.25em;
	margin: 0.75rem auto 0;
}
