:is(.contentButton, .borderButton, .backgroundButton) svg {
	display: block;
} /* removes auto-created spacing */

.contentButton {
	display: inline-block;
	color: var(--textColor);
	text-decoration: none;
	padding: 0.35rem 0.5rem;
	background-color: transparent;
	transition: background-color 200ms ease-in-out;
}
.contentButton:is(:hover, :focus, :focus-within) {
	background-color: color-mix(in srgb, var(--midColor) 33%, transparent 67%);
}

:is(.contentButton, .borderButton) svg {
	fill: var(--textColor);
}

.borderButton {
	display: inline-block;
	color: var(--textColor);
	text-decoration: none;
	border: 0.1rem solid var(--textColor);
	padding: 0.25rem 0.5rem;
	background-color: transparent;
	transition: all 200ms ease-in-out;
}
.borderButton:is(:hover, :focus, :focus-within) {
	color: var(--backgroundColor);
	background-color: var(--textColor);
}
.borderButton:is(:hover, :focus, :focus-within) svg {
	fill: var(--backgroundColor);
}

.backgroundButton {
	display: inline-block;
	color: var(--textColor);
	text-decoration: none;
	padding: 0.35rem 0.5rem;
	background-color: var(--accentColor);
	transition: all 200ms ease-in-out;
}
.backgroundButton:is(:hover, :focus, :focus-within) {
	color: var(--backgroundColor);
	background-color: var(--textColor);
}
.backgroundButton:is(:hover, :focus, :focus-within) svg {
	fill: var(--backgroundColor);
}
